body.isok .preloader {
    display: none;
}

.preloader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 0;
    margin: auto;
    padding-bottom: 25%;
}

.preloader-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 75%;
    overflow: hidden;
}

.preloader-top-sun {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 35%;
    height: 0;
    margin: auto;
    padding-bottom: 35%;
    animation: preloader 3s ease infinite;
}

.preloader-top-sun-bg {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 5px solid gold;
    border-radius: 100%;
}

.preloader-top-sun-line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 5px;
    margin: auto;
    border-radius: 5px;
    background: gold;
}

.preloader-top-sun-line-0 {
    transform: rotate(0deg) translateX(-350%);
}

.preloader-top-sun-line-45 {
    transform: rotate(45deg) translateX(-350%);
}

.preloader-top-sun-line-90 {
    transform: rotate(90deg) translateX(-350%);
}

.preloader-top-sun-line-135 {
    transform: rotate(135deg) translateX(-350%);
}

.preloader-top-sun-line-180 {
    transform: rotate(180deg) translateX(-350%);
}

.preloader-top-sun-line-225 {
    transform: rotate(225deg) translateX(-350%);
}

.preloader-top-sun-line-270 {
    transform: rotate(270deg) translateX(-350%);
}

.preloader-top-sun-line-315 {
    transform: rotate(315deg) translateX(-350%);
}

.preloader-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
}

.preloader-bottom-line {
    position: absolute;
    right: 0;
    left: 0;
    height: 5px;
    margin: auto;
    border-radius: 5px;
    background: gold;
}

.preloader-bottom-line-lg {
    top: 0%;
    width: 100%;
}

.preloader-bottom-line-md {
    top: 25%;
    width: 75%;
}

.preloader-bottom-line-sm {
    top: 50%;
    width: 50%;
}

.preloader-bottom-line-xs {
    top: 75%;
    width: 25%;
}

@keyframes preloader {
    0% {
        transform: translateY(200%) rotate(0deg);
    }

    25% {
        transform: translateY(0) rotate(0deg);
        transition-timing-function: ease-out;
    }

    100% {
        transform: translateY(200%) rotate(-180deg);
        transition-timing-function: ease-in;
    }
}